body {
  background-color: #efeeee;
  margin: 0;
}
#CClogo {
  transform: scale(0.25);
}
.navbar-brand {
  font-family: Iceberg, sans-serif;
  font-size: 2em;
}

/*ALL GAMES PAGE*/
.allgames {
  width: 100vw;
  position: relative;
  top: -7em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.game {
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 200px;
  margin: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.rating {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 6em;
  top: 2em;
  height: 4em;
  width: 4em;
  border-radius: 2em;
  background-color: #f26627;
  color: white;
}
.title {
  position: relative;
  top: 3em;
  font-family: Iceberg, sans-serif;
  color: #f26627;
  cursor: pointer;
}
.title:hover {
  color: #f9a26c;
}

/*ONE GAME PAGE*/
.onegame {
  margin: 4em;
  margin-top: -4em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.onegame .game {
  background-color: #325d79;
}
.onegame .title {
  top: -3em;
  text-align: center;
}
.desc > h6 {
  color: #f9a26c;
}
.rating-foot {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}
.rating-foot h4,
h3 {
  font-family: Iceberg, sans-serif;
  color: #f26627;
}
.rating-foot h3 {
  font-size: 4em;
}
.bi-plus-circle-fill {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 9em;
  left: 6em;
  height: 4em;
  width: 4em;
  border-radius: 2em;
  background-color: white;
  color: #f26627;
}
.fa-plus-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 9em;
  left: 6em;
  transform: scale(4);
  background-color: white;
  border-radius: 50%;
  color: #f26627;
}
.critics-container {
  margin: 0 4em;
  margin-bottom: 5em;
  color: #325d79;
}
.review-box {
  background-color: white;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 3px solid #f26627;
}
.review-box a {
  color: #9bd7d1;
}
.review-box a:hover {
  color: #f26627;
}
.critic-header {
  display: flex;
  justify-content: space-evenly;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fa-edit {
  color: #f26627;
  margin: 0 1em;
  transform: scale(1.5);
}
.fa-trash-alt {
  color: #325d79;
  margin: 0 1em;
  transform: scale(1.5);
}
.editbutton {
  background-color: #f26627;
  width: 4em;
  height: 1.75em;
  color: white;
  border: none;
  padding: 0 0.5em;
  transition: 0.3s;
}
.editbutton:hover {
  background-color: #f9a26c;
  color: white;
  border-radius: 1em;
  outline: none;
}
.deletebutton {
  background-color: white;
  color: #325d79;
  border: 2px solid #325d79;
  padding: 0 0.5em;
  transition: 0.3s;
}
.deletebutton:hover {
  border-radius: 1em;
  color: #9bd7d1;
  border: 2px solid #9bd7d1;
}
/* footer {
  background-color: #f9a26c;
  height: 3em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer img {
  height: 2em;
}
footer p {
  margin: auto 0;
  color: white;
}
footer a {
  color: #325d79;
}
footer a i {
  padding: 0 1em;
  color: #325d79;
} */

@media only screen and (max-width: 750px) {
  #CClogo {
    display: none;
  }
  .allgames {
    top: 6em;
  }
  .onegame {
    margin-top: 7em;
  }
}
