body {
  background-color: #efeeee;
}
.navbar-brand {
  font-family: Iceberg, sans-serif;
  font-size: 2em;
}

/*ALL GAMES PAGE*/
.allgames {
  width: 100vw;
  position: relative;
  top: 6em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.game {
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 200px;
  margin: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.rating {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 6em;
  top: 2em;
  height: 4em;
  width: 4em;
  border-radius: 2em;
  background-color: #f26627;
  color: white;
}
.title {
  position: relative;
  top: 3em;
  font-family: Iceberg, sans-serif;
  color: #f26627;
  cursor: pointer;
}
.title:hover {
  color: #f9a26c;
}

/*ONE GAME PAGE*/
.onegame {
  margin: 4em;
  margin-top: 7em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.onegame .game {
  background-color: #325d79;
}
.onegame .title {
  top: -3em;
  text-align: center;
}
.rating-foot {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}
.rating-foot h4,
h3 {
  font-family: Iceberg, sans-serif;
  color: #f26627;
}
.bi-plus-circle-fill {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 9em;
  left: 6em;
  height: 4em;
  width: 4em;
  border-radius: 2em;
  background-color: white;
  color: #f26627;
}
.critics-container {
  margin: 0 4em;
  margin-bottom: 5em;
  color: #325d79;
}
.review-box {
  background-color: white;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 3px solid #f26627;
}
.review-box a {
  color: #9bd7d1;
}
.review-box a:hover {
  color: #f26627;
}
.critic-header {
  display: flex;
  justify-content: space-evenly;
}
